footer.footer
  a(href="/").footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='/chat') Generate Travel Plan
    li: a(href='/history') Your History
    li: a(href='#our-features') Our Features
    li: a(href='#about-us') About Us
