extends structure 

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot Password
      if message
        .alert.alert--error #{message}
      form.form.form--forgotPassword
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', name='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green(type='submit') Submit
  script( type="module" src="/js/forgotPassword.js") 
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 