extends base


block append head
  link(rel="stylesheet", href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css")
  script(src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js")
  link(rel="stylesheet", href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.1.1/mapbox-gl-geocoder.css")
  script(src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.1.1/mapbox-gl-geocoder.min.js")

block content
  
  main.main
    div.content
      h1.title AI-Assisted Travel Advisor
      .search-box
        .search-container
          .search-row
            .form__group
              label.form__label(for='from_city') From City/Country
              div.input_from
                input#from_city.form__input.from(type='text', required, name='from_city')
                button#openMapBtn(type="button") 🔍 


            .form__group
              label.form__label(for='to_city') To City/Country
              div.input_from
                input#to_city.form__input.in(type='text', required, name='to_city')
                button#openMapBtnTo(type="button") 🔍 

            .form__group
              label.form__label(for='departure_Date') Departure Date
              input#departure_Date.form__input(type='date', required, name='departure_Date')

          .search-row
            .form__group
              label.form__label(for='guests') Travellers
              input#guests.form__input(type='number', min="1", required, name='guests')

            .form__group
              label.form__label(for='days') Days of Trip
              input#days.form__input(type='number', min="1", required, name='days')

            .form__group
              label.form__label(for='rating') Hotel Rating Range
              .rating-range
                input#minRating.form__input(type='range', min="1", max="5", step="0.1", value="1", required, name='minRating')
                input#minRatingInput.form__input(type='number', value="1", min="1", max="5", step="0.1", name="minRatingInput", required)
                input#maxRating.form__input(type='range', min="1", max="5", step="0.1", value="5", required, name='maxRating')
                input#maxRatingInput.form__input(type='number', value="5", min="1", max="5", step="0.1", name="maxRatingInput", required)

          .search-btn#generate-btn GENERATE PLAN

      div.search-box.chat
        div.tabs
          button.tab-button.active(data-tab="tab1") Flights
          button.tab-button(data-tab="tab2") Hotels
          button.tab-button(data-tab="tab3") Itinerary

        div.tab-content#tab1 
        div.tab-content#tab2(style="display: none;") 
        div.tab-content#tab3(style="display: none;")
      
      // Hidden Modal Popup for Map Selection
      // Hidden Modal Popup for Map Selection
      // Hidden Modal Popup for Map Selection
      #locationModal.modal(style="display: none;")
        .modal-content
          span.close-modal ✖
          h2 Select Location
          #map
          
          // Add a proper div for buttons
        .modal-buttons
          button#confirmLocation(type="button")  OK
          button#cancelLocation(type="button") Cancel

  script( type="module" src="/js/home.js") 
