extends base

block content

    .search-box
      .search-container
        .search-row
          .form__group
            label.form__label(for='from_city') From City/Country
            input#from_city.form__input(type='text', required, name='from_city')

          .form__group
            label.form__label(for='to_city') To City/Country
            input#to_city.form__input(type='text', required, name='to_city')

          .form__group
            label.form__label(for='departure_Date') Departure Date
            input#departure_Date.form__input(type='date', required, name='departure_Date')

        .search-row
          .form__group
            label.form__label(for='guests') Guests
            input#guests.form__input(type='number', min="1", required, name='guests')

          .form__group
            label.form__label(for='days') Days of Trip
            input#days.form__input(type='number', min="1", required, name='days')

          .form__group
            label.form__label(for='budget') Approx Budget (Per Person)
            input#budget.form__input(type='number', min="1", required, name='budget')

        .search-btn GENERATE
