extends structure 

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Password
      if message
        .alert.alert--error #{message}
      form.form.form--resetPassword
        .form__group.ma-bt-md
          label.form__label(for='newPassword') New Password
          input#newPassword.form__input(type='password', name='newPassword', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='confirmPassword') Confirm Password
          input#confirmPassword.form__input(type='password', name='confirmPassword', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green(type='submit') Submit
  script( type="module" src="/js/resetPassword.js") 
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 